a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 72px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0px;
  padding: 15px;
}
h2 {
    font-size: 42px;
    margin: 0px;
}
ol {
  font-size: 30px;
  border-right:none;
  width: 80px;
  margin: 0px;
  margin-left: 24px;
  padding: 24px;
}
body {
  margin: 0px;
}
#grid{
  display:block;
  grid-template-columns: 150px 950px;
}
#grid ol{
  padding-left: 36px;
}
#main {
    font-size: 22px;
}
#article{
  padding-left: 24px;
  word-wrap: break-word;
}
#image{
  padding: 0px;
  width: auto;
  max-width: 900px;
}
