a {
  color: black;
  text-decoration: none;
}
#title {
  font-size: 108px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0px;
  padding: 24px;
  padding-left: 38px;
}
#title_sub {
  font-size: 45px;
  padding-top: 12px;
  padding-right: 55px;
  text-align: right;
}
ol {
  border-right: 1px solid gray;
  font-size: 30px;
  width: 80px;
  padding: 24px;
  padding-right: 90px;
  }
body {
  margin: 0px;
}
#grid{
  display:grid;
  grid-template-columns: 250px 690px;
  border-bottom: 1px solid gray;
}
#grid ol{
  margin: 0px;
  margin-left: 24px;
  padding-left: 36px;
}
#main {
  font-size: 25px;
  padding: 22px;
}
#article{
  padding: 24px;
  word-wrap: break-word;
}
#image{
  padding: 0px;
  text-align: center;
}
#image_1{
  width: auto;
  max-width: 900px;    
}
